{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Hero Area Start -->
    {% include 'hero.html' %}
    <!-- Hero Area End -->

    <!-- Services Section Start -->
    {% include 'services.html' %}
    <!-- Services Section End -->

<!-- About Section start -->
    {% include 'about.html' %}

<!-- features Section start -->
    {% include 'features.html' %}

<!-- Team Section Start -->
    {% include 'team.html' %}

<!-- Pricing Section Start -->
    {% include 'pricing.html' %}

<!-- Testimonials Section Start -->
    {% include 'testimonials.html' %}

<!-- Call Section Start -->
    {% include 'call.html' %}

<!-- Contact Section Start -->
    {% include 'contact.html' %}

<!-- Footer Section Start -->
    {% include 'footer.html' %}



{% endblock %}
